    <section id="benefits" class="benefits-section section-gray section">
      <div class="container">
        <h2 class="section-heading text-center">Что вы получаете от защиты?</h2>
        <div class="benefits-row row">
          <!-- BENEFIT 1 -->
          <div class="col-md-4 col-sm-6">
            <div class="benefit">
              <span class="benefit-icon fa fa-bicycle" data-animation="bounceIn"></span>
              <h4 class="benefit-title">Искренюю благодарность и лояльность ваших клиентов</h4>
              <p class="benefit-description">Вы выказываете жест доброй воли, вы демонстрируете заботу о своих клиентах не на словах, а на деле. Вы приобретаете пул благодарных и верных покупателей.</p>
            </div>
          </div>
          <!-- BENEFIT 2 -->
          <div class="col-md-4 col-sm-6">
            <div class="benefit">
              <span class="benefit-icon fa fa-code" data-animation="bounceIn"></span>
              <h4 class="benefit-title">Сохраненную репутацию торговой марки</h4>
              <p class="benefit-description">Репутационные потери — это всегда большие убытки. Вы теряете потенциальную выгоду от несовершенных продаж, вы теряете дополнительные деньги на рекламу для восстановления имиджа.</p>
            </div>
          </div>
          <div class="hidden-md hidden-lg clear"></div>
          <!-- BENEFIT 3 -->
          <div class="col-md-4 col-sm-6">
            <div class="benefit">
              <span class="benefit-icon fa fa-eye" data-animation="bounceIn"></span>
              <h4 class="benefit-title">Устранение непрошенных конкурентов</h4>
              <p class="benefit-description">Вы быстро обнаруживаете и уничтожаете место контрафактной торговли продукцией под вашим логотипом. Ведь те деньги, которые покупатель отдал за подделку — могли быть вашими деньгами.</p>
            </div>
          </div>
          <div class="hidden-sm clear"></div>
          <!-- BENEFIT 4 -->
          <div class="col-md-4 col-sm-6">
            <div class="benefit">
              <span class="benefit-icon fa fa-smile-o" data-animation="bounceIn"></span>
              <h4 class="benefit-title">Дополнительную рекламу</h4>
              <p class="benefit-description">Предупреждая своих клиентов о возможной подделке, предоставляя им инструмент для защиты своих прав потребителя, ваш бренд становится клиентоориентированным.</p>
            </div>
          </div>
          <div class="hidden-md hidden-lg clear"></div>
          <!-- BENEFIT 5 -->
          <div class="col-md-4 col-sm-6">
            <div class="benefit">
              <span class="benefit-icon fa fa-pagelines" data-animation="bounceIn"></span>
              <h4 class="benefit-title">Бесплатные маркетинговые сведения</h4>
              <p class="benefit-description">Во время консультации клиента по факту обнаружения фальсификата менеджеры компании дополнительно от него получат его контактные данные — бесценную маркетинговую информацию.</p>
            </div>
          </div>
          <!-- BENEFIT 6 -->
          <div class="col-md-4 col-sm-6">
            <div class="benefit">
              <span class="benefit-icon fa fa-paperclip" data-animation="bounceIn"></span>
              <h4 class="benefit-title">Используйте фантазию</h4>
              <p class="benefit-description">Гибкость нашей системы позволяет придумать и реализовать нестандартные действия при активации.</p>
            </div>
          </div>
        </div>
      </div>
    </section>