<section id="about" class="about-section section">
      <div class="container">
        <h2 class="section-heading text-center">Как защитить имидж, честное имя и доходы компании?</h2>
        <div class="about-row row">
          <!-- DESCRIPTION IMAGE -->
          <div class="about-image col-md-6" data-animation="fadeIn">
            <img src="images/contents/about.jpg" alt="Description Image">
          </div>
          <!-- DESCRIPTION TEXT -->
          <div class="about-text col-md-6">
            <p class="lead">Одно простое решение — нанесение на каждую единицу товара 12-значного кода, который однажды сгенерирован случайным образом — вероятность его подбора исключена. Этот код будет вашим кодом, кодом вашего бренда и фирменного качества. Он прячется под скретч-панелью на товаре. Все кодовые комбинации хранятся на сервере.</p>
            <p>Чтобы покупатель мог проверить подлинность купленного товара под логотипом вашей компании, ему нужно ввести этот код во встроенную систему на вашем сайте. Если код есть в базе данных системы — подлинность подтверждена. Если нет, вы можете:</p>
            <ul class="icon-list">
              <li>
                <span class="icon-list-icon fa fa-hand-o-up" data-animation="bounceIn"></span>
                <h4 class="icon-list-title">Проконсультироваться с покупателем</h4>
                <p>Вы связываетесь со своим потребителем, консультируете его по возврату товара, а также — узнаете его маркетинговые данные для рекламы в дальнейшем своих товаров и услуг.</p>
              </li>
              <li>
                <span class="icon-list-icon fa fa-heart-o" data-animation="bounceIn"></span>
                <h4 class="icon-list-title">Зафиксировать контрафакт</h4>
                <p>Вы обнаруживаете торговую точку с продажей контрафакта — корень зла и убытков компании в отдельном регионе.</p>
              </li>
              <li>
                <span class="icon-list-icon fa fa-lightbulb-o" data-animation="bounceIn"></span>
                <h4 class="icon-list-title">Уничтожить контрафакт</h4>
                <p>Начинаете судебное разбирательство по факту распространения фальсифицированной продукции и добиваетесь уничтожения контрафакта.</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>