    <section id="headline" class="headline-section section-gray section">
      <div class="container">
        <h2 class="section-heading text-center hidden">Tagline</h2>
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <p class="headline-text">
          Репутация развитой и брендированной торговой марки — как сердце юной красавицы — склонна к измене и перемене. Если только не защитить её от информационных пиратов — мастеров контрафакта и искусных фальсификата производителей.
            </p>
          </div>
        </div>
      </div>
    </section>