    <section id="how-it-works" class="how-it-works-section section">
      <div class="container-fluid">
        
        <h2 class="section-heading text-center">Как это работает?</h2>
        <div class="hiw-row row">
          <!-- HOW IT WORKS - ITEM 1 -->
          <div class="col-md-3 col-sm-6" data-animation="fadeIn">
            <div class="hiw-item">
              <img class="hiw-item-picture" src="images/contents/hiw-item-1.jpg" alt="">
              <div class="hiw-item-text">
                <span class="hiw-item-icon">1</span>
                <h4 class="hiw-item-title">Установите виджет</h4>
                <p class="hiw-item-description">Вы устанавливаете форму проверки подлинности на сайт – это просто, мы уже знаем.</p>
              </div>
            </div>
          </div>
          <!-- HOW IT WORKS - ITEM 2 -->
          <div class="col-md-3 col-sm-6" data-animation="fadeIn">
            <div class="hiw-item even">
              <img class="hiw-item-picture" src="images/contents/hiw-item-2.jpg" alt="">
              <div class="hiw-item-text">
                <span class="hiw-item-icon">2</span>
                <h4 class="hiw-item-title">Нанесите коды на товар</h4>
                <p class="hiw-item-description">Система случайным образом генерирует код и присваивает его определенной единице товара.</p>
              </div>
            </div>
          </div>
          <div class="hidden-md hidden-lg clear"></div>
          <!-- HOW IT WORKS - ITEM 3 -->
          <div class="col-md-3 col-sm-6" data-animation="fadeIn">
            <div class="hiw-item">
              <img class="hiw-item-picture" src="images/contents/hiw-item-3.jpg" alt="">
              <div class="hiw-item-text">
                <span class="hiw-item-icon">3</span>
                <h4 class="hiw-item-title">Следите за результатами</h4>
                <p class="hiw-item-description">При запросе посетителем в форме проверки подлинности система выдает результат – положительный или отрицательный.</p>
              </div>
            </div>
          </div>
          <!-- HOW IT WORKS - ITEM 4 -->
          <div class="col-md-3 col-sm-6" data-animation="fadeIn">
            <div class="hiw-item even">
              <img class="hiw-item-picture" src="images/contents/hiw-item-4.jpg" alt="">
              <div class="hiw-item-text">
                <span class="hiw-item-icon">4</span>
                <h4 class="hiw-item-title">Боритесь с подделками</h4>
                <p class="hiw-item-description">Вы анализируете географию продаж и количество возможных подделок.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>