 <section id="team" class="team-section section">
      <div class="container-fluid">
        
        <h2 class="section-heading text-center">Виды интеграции проверки подлинности на ваш сайт</h2>
        <div class="team-row row">
          <!-- TEAM MEMBER 1 -->
          <div class="col-lg-4 col-md-4 col-sm-6" data-animation="fadeIn">
            <div class="team-member">
               <!-- <img class="team-member-picture" src="images/contents/team-member-1.jpg" alt=""> -->
              <div class="team-member-text">
                <h4 class="team-member-name">Самостоятельная интеграция</h4>
                <div class="team-member-position">Выбор для разработчиков</div>
                <p class="team-member-description">Мы предоставляем вам документацию API (JSON), вы своими силами внедряете систему на сайт. Самый трудозатратный вид — вам самим нужно написать клиентскую базу.</p>
              </div>
            </div>
          </div>
          <!-- TEAM MEMBER 2 -->
          <div class="col-lg-4 col-md-4 col-sm-6" data-animation="fadeIn">
            <div class="team-member even">
              <!--  <img class="team-member-picture" src="images/contents/team-member-2.jpg" alt=""> -->
              <div class="team-member-text">
                <h4 class="team-member-name">С помощью JS-скрипта</h4>
                <div class="team-member-position">Оптимальный вариант</div>
                <p class="team-member-description">Очень просто — нужно только вставить JS (Jquery) код в тело интернет-страницы  сайта. Легко реализуется на любой системе управления сайтов, вам не нужно нанимать программистов.</p>
              </div>
            </div>
          </div> 
          <div class="hidden-md hidden-lg clear"></div>
          <!-- TEAM MEMBER 3 -->
          <div class="col-lg-4 col-md-4 col-sm-6" data-animation="fadeIn">
            <div class="team-member">
             <!--   <img class="team-member-picture" src="images/contents/team-member-3.jpg" alt=""> -->
              <div class="team-member-text">
                <h4 class="team-member-name">С помощью IFrame</h4>
                <div class="team-member-position">Самый простой</div>
                <p class="team-member-description">Тоже очень простой способ интеграции. Потребуется лишь вставить IFrame в тело страницы — на любой системе управления, без привлечения сторонних разработчиков.</p>
              </div>
            </div>
          </div>
          <div class="hidden-sm hidden-lg clear"></div>

          <div class="hidden-md hidden-lg clear"></div>

        </div>
      </div>
    </section>