  <section id="video" class="video-section section-gray section">
      <div class="container">
        <h2 class="section-heading text-center">Безопасность</h2>
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <p>Нельзя просто так взять — и взломать базу данных с кодами. Передача информации с базой подключена с помощью защищенного SSL-соединения. Кроме того — все данные в зашифрованном виде. Если произойдет утечка, похитители ничего не поймут — у них нет ключа шифрования.</p>
          </div>
        </div>
      </div>
    </section>